<%# Where private user information can be stored %>
<br>
<h3><%= @user.username %>'s iKanBan Stats</h3>
<%= @user.owned_projects.count %> project board(s) created<br>
<%= @total_task_count %> task(s) created<br>
<%= @complete_task_count %> task(s) completed<br><br>

<%= button_to "Edit my account information", edit_user_path(@user), method: :get %><br>
<%= button_to "Delete my account", user_path(@user), method: :delete, data: {confirm: 'Are you sure?'} %>