<%= render partial: 'projects/errors', locals: {project: @user} %>
<br>
<h1>iKanBan Signup</h1>
<h3>Sign up to take full advantage of iKanBan's features!</h3>
<%= form_for @user do |f| %>
  <%= render partial: 'form', locals: {f: f} %><br><br>
  <%= f.submit "Create New User" %>
<% end %>

<h3>Login with Google</h3>
<%= button_to 'Google', '/auth/google_oauth2' %>