<% if @user.errors.any? %>
  <div id = "error_explanation".
    <h2>
      <%= pluralize(@user.errors.count, "error") %> prohibited this account from being updated:
    </h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>iKanBan Signup</h1>
<h3>Sign up to take full advantage of iKanBan's features!</h3>
<%= form_for @user do |f| %>
  <%= render partial: 'form', locals: {f: f} %><br><br>
  <%= f.submit "Create New User" %>
<% end %>

<h3>Login with Google</h3>
<%= button_to 'Google', '/auth/google_oauth2' %>