<br>
<% if @user == current_user %>
  <h1>Welcome, <%= @user.first_name %>!</h1><br>
  <%= button_to "New Project", new_project_path, method: :get %>
  <h3>My Project Boards:</h3>
    <ul>
    <% if @user.owned_projects.empty? %>
      <li>No current projects</li>
    <% else %>
      <%= render partial: 'project', collection: @user.owned_projects %>
    <% end %>
    </ul>

<% else %>
  <h1>You are viewing <%= @user.first_name %>'s public projects page!</h1><br>

  <h3><%= @user.first_name %>'s Project Boards:</h3>
    <ul>
    <% if @user.owned_projects.empty? %>
      <li>No current projects</li>
    <% else %>
      <%= render partial: 'project', collection: @user.owned_projects %>
    <% end %>
    </ul>
<% end %>

<br><br>