<br>
<% if @user == current_user %>
  <h1>Welcome, <%= @user.first_name %>!</h1><br>
  
  <h3>My Project Boards:</h3>
    <ul>
      <%= render partial: 'project', collection: @user.owned_projects || "No current projects" %>
    </ul>

<% else %>
  <h1>You are viewing <%= @user.first_name %>'s public projects page!</h1><br>

  <h3><%= @user.first_name %>'s Project Boards:</h3>
    <ul>
      <%= render partial: 'project', collection: @user.owned_projects || "No current projects" %>
    </ul>
<% end %>