<%= flash[:alert] if flash[:alert] %>

<%# Add logic to distinguish between page owner and page visitor, e.g., "Hannah's Projects" vs "My Projects" %>
<h1>Welcome, <%= @user.first_name %>!</h1><br>

<h3>My Project Boards:</h3>
<ul>
  <%= render partial: 'project', collection: @user.owned_projects || "No current projects" %>
</ul>

<%= button_to "Account", user_account_path, method: :get %><br>
<%= button_to "Log Out", logout_path, method: :post %>