<% if @project.errors.any? %>
  <div id = "error_explanation".
    <h2>
      <%= pluralize(@project.errors.count, "error") %> prohibited this project from being updated:
    </h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>
<h3>Edit Project Board</h3><br>
<%= form_for @project do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= f.submit "Update" %>
<% end %>