<br>
<h1 style="text-align: center"><%= @project.title %></h1>
<h3 style="text-align: center"><%= @project.description %></h3>

<div style="width: 33%; margin: auto">
<%= button_to "Show Only My Tasks", my_tasks_path(@project), method: :get, form: {style: 'display:inline-block;'} %>
<%= button_to "Add Task", new_project_task_path(project_id: @project.id), method: :get, form: {style: 'display:inline-block;'} %>
<% if current_user && current_user.id == @project.owner %>
  <%= button_to "Edit Project", edit_project_path(@project), method: :get, form: {style: 'display:inline-block;'} %>
  <%= button_to "Delete Project", project_path(@project), method: :delete, form: {style: 'display:inline-block;'}, data: {confirm: 'Are you sure? This will destroy the project and all associated tasks.'} %>
<% end %>
  <br><br><br>
</div>

<% categories.each do |c| %>
  <%= render partial: 'task', locals: {type: "#{c}"} %>
<% end %>