<!DOCTYPE html>
<html>
  <head>
    <title>IKanban</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <%= flash_alert? %>
    <div class="navbar" style="width:100%; float:left">
    <% if current_user %>
      <%= link_to "Home", user_path(current_user) %>
      <%= link_to "Account", user_account_path(current_user) %>
      <%= link_to "Users", users_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Log Out", logout_path, method: :post %>
    <% end %>
    <br><br><br>
  </div>
    <%= yield %>
  </body>
</html>
